<html>
<head>
    <title></title>
</head>
<body>
  <div class="container">
    <h1>{{ stylist.getName }}</h1>
    <p>Input New Name:
    <form action="/stylist/{{ stylist.getId }}/edit" method="post">
      <label for="stylist_name">Name:</label>
      <input name="stylist_name" type="text">
      <button type="submit">OK</button>
    </form>
  </div>
</body>
</html>
