<html>
<head>
    <title></title>
</head>
<body>
  <div class="container">
    <h1>{{ stylist.getName }}</h1>

    <form action="/stylist" method="post">
      <label for="client_name">Client Name:</label>
      <input name="client_name" type="text">
      <button type="submit">Add</button>
    </form>

    <p>Clients</p>

      {% for client in clients %}
        <li><a href="/stylist/{id}">{{ client.getName }}</a></li>
          <form action="/stylist/{id}/edit" method="get">
            <button type="submit">Edit</button>
          </form>
          <form action="/" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete</button>
          </form>
      {% endfor %}


  </div>
</body>
</html>
